{% if form.errors %}
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">The following errors were found:</h2>

    <ul class="error-summary-list">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>
            <a href="#{{ form[field_name].id }}">{{ error|safe }}</a>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
