{% extends "layouts/layout.html" %}
{% import 'macros/form.html' as field %}

{% block title %}Reset password{% endblock %}

{% block body %}

  <h1 class="heading-large">{{ heading | safe }}</h1>

  <div class="grid-row">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="{{ url_for('request_reset_password_email') }}" method="POST" novalidate data-clientside-validation-no-summary>
        {% include 'includes/form_errors.html' %}

        {% include 'includes/process_errors.html' %}

        {% include 'includes/flash_messages.html' %}

        {{ form.hidden_tag() }}

        <p>{{ message | safe }}</p>

        <fieldset>

          <legend class="visuallyhidden">Enter your email address</legend>

          {{ field.element(
              form,
              name='email',
              attributes={'autocomplete': 'email', 'type': 'email', 'data-session-storage-get': 'find-property-information-email'},
              label='Email address',
              label_class='form-label-bold'
            ) }}

        </fieldset>

        <input type="submit" class="button" value="Continue" data-double-click-prevention>
      </form>

      <script type="application/json" id="password_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address is required"
            }
          }
        }
      </script>

    </div>
  </div>

{% endblock %}
