{% extends "layouts/layout.html" %}

{% block title %}Email sent{% endblock %}

{% block body %}

  <h1 class="heading-large">Email sent</h1>

  <div class="grid-row">

    <div class="column-two-thirds tablet-column-two-thirds">

      <p>We've sent a link to <strong class="bold">{{email}}</strong>.</p>

      <p class="spacing-top-single">If it hasn't arrived, check your junk email folder or <a href="{{ url_for('request_reset_password_email') }}">request a new email</a>.</p>


    </div>
  </div>

{% endblock %}
